{% load static %}
<div class="container">



<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="{% url 'workouts:index' %}" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"> <img src="{% static 'img/profile.jpg' %}" width="50" height="50" class="d-inline-block align" alt=""
        align="middle" > </svg>
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">© 2024 MaFit, Inc</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-body-secondary" href="https://t.me/crazypr0g"><svg class="bi" width="24" height="24"><img src="{% static 'img/tg.png' %}" width="40" height="40" class="d-inline-block align" alt=""
      align="middle" ></svg></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://t.me/MaFitnessBot"><svg class="bi" width="24" height="24"><img src="{% static 'img/logo.png' %}" width="40" height="40" class="d-inline-block align" alt=""
      align="middle" ></svg></a></li>
   </ul>
</footer>