{% load static %}

<html lang="ru" data-bs-theme="dark">
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'workouts:index' %}" class="nav-link px-2 link-secondary"> MaFit</a>
            <a href="{% url 'workouts:workout_list' %}" class="nav-link px-2 link-body-emphasis">Тренировки</a>
            <a href="{% url 'workouts:exercise_list' %}" class="nav-link px-2 link-body-emphasis">Упражнения</a>
           
          <ul class="nav col-3" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 17px, 0px);" data-popper-placement="bottom-end">
            {% if user.is_authenticated %} 
              <li><a href="{% url 'users:profile_detail' user.id %}" class="nav-link px-2 link-body-emphasis">{{ user.username }}</a></li>
              <li><a href="{% url 'workouts:history_list' %}" class="nav-link px-2 link-body-emphasis">История</a></li>
              <li><a href="{% url 'users:password_change' %}" class="nav-link px-2 link-body-emphasis">Изменить пароль</a></li>
              <li><a href="{% url 'users:logout' %}" class="nav-link px-2 link-body-emphasis">Выйти</a></li>
            {%else%}
              <li><a href="{% url 'users:login' %}" class="nav-link px-2 link-body-emphasis">Войти</a></li>
              <li><a href="{% url 'users:signup' %}" class="nav-link px-2 link-body-emphasis">Зарегестрироваться</a></li>
            {% endif %}
          </ul>
