{% load static %}

<html lang="ru" data-bs-theme="dark">
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            
    
            {% comment %} <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><img src="{% static 'img/profile.jpg' %}" width="50" height="50" class="d-inline-block align" alt=""
                  align="middle" ></li>
              
              <li> {% endcomment %}
                
               
                <a href="{% url 'workouts:index' %}" class="nav-link px-2 link-secondary"> MaFit</a>
                {% comment %} <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% static 'img/logo.png' %}"></use></svg> {% endcomment %}
               {% comment %} <img src={% static 'img/logo.png' %} width="30" height="30" class="d-inline-block align-top" alt="Лого"/> {% endcomment %}
               {% comment %} <img src="{% static 'img/profile.jpg' %}" width="50" height="50" class="d-inline-block align" alt=""
                align="middle" > {% endcomment %}

                {% comment %} {% thumbnail exercise.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">{% endthumbnail %}
            </li>{% endfor%}
                 {% endcomment %}

              <a href="{% url 'workouts:workout_list' %}" class="nav-link px-2 link-body-emphasis">Тренировки</a>
             <a href="{% url 'workouts:exercise_list' %}" class="nav-link px-2 link-body-emphasis">Упражнения</a>
              
            
            <ul class="nav col-3" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 17px, 0px);" data-popper-placement="bottom-end">
              {% if user.is_authenticated %} 
              <li><a href="{% url 'users:profile_detail' user.id %}" class="nav-link px-2 link-body-emphasis">{{ user.username }}</a></li>
              <li><a href="{% url 'workouts:history_list' %}" class="nav-link px-2 link-body-emphasis">История</a></li>
              <li><a href="{% url 'users:password_change' %}" class="nav-link px-2 link-body-emphasis">Изменить пароль</a></li>
              <li><a href="{% url 'users:logout' %}" class="nav-link px-2 link-body-emphasis">Выйти</a></li>
              {%else%}
              <li><a href="{% url 'users:login' %}" class="nav-link px-2 link-body-emphasis">Войти</a></li>
              <li><a href="{% url 'users:signup' %}" class="nav-link px-2 link-body-emphasis">Зарегестрироваться</a></li>
              {% endif %}
            </ul>
           <!--{% if user.is_authenticated %} 
            
            <div class="flex-shrink-0 dropdown">
              <a href="" class="d-block link-body-emphasis text-decoration-none dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
                Профиль
             <::after> </a>
              <ul class="dropdown-menu text-small shadow show" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 34px, 0px);" data-popper-placement="bottom-end">
                <li><a class="dropdown-item" href="{% if view_name  == 'users:signup' %}active{% endif %}">New project...</a></li>
                <li><a class="dropdown-item" href="{% if view_name  == 'users:signup' %}active{% endif %}">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>{% endif%} 
            </div>
          </div>
        </div>
      </header>
   

      <ul class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 border-0 shadow w-220px" data-bs-theme="dark">
        <li><a class="dropdown-item rounded-2 active" href="#">Action</a></li>
        <li><a class="dropdown-item rounded-2" href="#">Another action</a></li>
        <li><a class="dropdown-item rounded-2" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item rounded-2" href="#">Separated link</a></li>
      </ul>

    -->
