{% extends "base.html" %}
{% load thumbnail %}
<html lang="ru"> 
  <head>  
    {% block title %}
      <title>{{object.name}}</title>
    {% endblock %}
  </head>
  <body>
    <main>
      {% block content %}
      <div class="container">
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              {{ object.name}}
            </li>
            <li class="list-group-item">
              {% for muscle in object.muscle.all%}
                {{ muscle }}
              {% endfor%}
            </li>

            {% if object.author == user  %}
            <li class="list-group-item">
              <a class="btn btn-outline-secondary d-inline-flex align-items-center"
              href="{% url "workouts:exercise_update" object.id %}" role="button">
                редактировать
              </a>
            
              <a class="btn btn-outline-secondary d-inline-flex align-items-center"
              href="{% url "workouts:exercise_delete" object.id %}" role="button">
                удалить
              </a>
            </li>
            {% endif %}
        </aside>
        <article class="col-12 col-md-9">
          <p>
            {{ object.description|linebreaks }}
          </p>
        </article>{% thumbnail object.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">{% endthumbnail %}
      </div>
    </div>
      {% endblock %}
    </main>
  </body>
</html>
