{% extends "base.html" %}
<html lang="ru"> 
  <head>  
    {% block title %}
      <title>{{ object.name}}</title>
    {% endblock %}
  </head>
  <body>
    <main>
      {% block content %}
      <div class="container">
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              {{ object.name}}
            </li>
        </aside>
        <article class="col-12 col-md-9">
          <p>
            {{ object.text|linebreaks }}
          </p>
        </article>
      </div>
    </div>
      {% endblock %}
    </main>
  </body>
</html>