{% extends "base.html" %}
<html lang="ru">
  <head>
    {% block title %}
      <title>История тренировки</title>
    {% endblock %}
  </head>
  <body>
    <main>
      {% block content %}
         <div class="container py-5">
            <h1>История тренировки
            
          <a
          class="btn btn-lg btn-light"
          href="{% url 'workouts:history_update'  %}" role="button"
        >
          Изменить историю
        </a> 
        <a
          class="btn btn-lg btn-light"
          href="{% url 'workouts:history_detail_update' object.id  %}" role="button"
        >
          Изменить данные о тренировке 
        </a> 
          <br></h1>
          <div class="container">
            <div class="row">
              <aside class="col-12 col-md-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    {{object.date}}
                  </li>
                  <li class="list-group-item">
                    {{object.workout.name }}
                  </li>
                  <li class="list-group-item">
                    {{object.comment }}
                  </li>
                </ul>
                </aside>
                <article class="col-12 col-md-9">
                  <ul class="list-group list-group-flush">
                  <table align="lift" width=750>
                  <thead>
                  <tr>
                  <td><span style="color:gray">Упражнение:   </td>
                  <td><span style="color:gray">Подходы:</td>
                  <td><span style="color:gray">Повторения:  </td>
                  <td><span style="color:gray">Вес:</td>
                  <td><span style="color:gray">Дата: </td>
                </tr> </thead>
                {% for object in object.historyexercise.all %}
                <tr>
                  <td>{{object.exercises.name}}</a> </td>
                  <td>{{object.sets}}</td>
                  <td>{{object.reps}}</td>
                  <td>{{object.weight}}</td>
                  <td>{{object.history.date}}</td>
                </tr>{% endfor%}
              </table>

         </div> 
      
          
      </div>
      {% endblock%}
    </main>
  </body>
