{% extends "base.html" %}
<html lang="ru">
  <head>
    {% block title %}
      <title>История</title>
    {% endblock %}
  </head>
  <body>
    <main>
      {% block content %}
         <div class="container py-5">
            <h1>История
            <a
            class="btn btn-lg btn-light"
            href="{% url 'workouts:history_create' %}" role="button"
          >
            +
          </a> 
          <a
          class="btn btn-lg btn-light"
          href="{% url 'workouts:history_update'  %}" role="button"
        >
          Изменить историю
        </a> 
          <br></h1>
          <div class="container">
            
              <table align="lift" width=800 cellpadding="5" >
                <thead>
                <tr>
                  <td><span style="color:gray">Упражнение:   </td>
                  <td><span style="color:gray">Подходы:</td>
                  <td><span style="color:gray">Повторения:  </td>
                  <td><span style="color:gray">Вес:</td>
                  <td><span style="color:gray">Дата: </td>
                </tr> </thead>
                {% for object in object_list %}
                <tr>
                  <td><a href= "{% url "workouts:history_detail" object.history.id %}"class="nav-link  link-body-emphasis"> {{object.exercises.name}}</a></td>
                  <td><a href= "{% url "workouts:history_detail" object.history.id %}"class="nav-link  link-body-emphasis"> {{object.sets}}</a></td>
                  <td><a href= "{% url "workouts:history_detail" object.history.id %}"class="nav-link  link-body-emphasis"> {{object.reps}}</a></td>
                  <td><a href= "{% url "workouts:history_detail" object.history.id %}"class="nav-link  link-body-emphasis">{{object.weight}}</a></td>
                  <td><a href= "{% url "workouts:history_detail" object.history.id %}"class="nav-link  link-body-emphasis"> {{object.history.date}}</a></td>
                </tr>{% endfor%}
              </table>

         </div> 
         
          
      </div>
      {% endblock%}
    </main>
  </body>
